section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}
/*PÁG HOME*/ 

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(/imagens/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .conteudo{
    max-width: 60rem;
}

.home .conteudo h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .conteudo p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}